
    body{
        background-color: rgb(25,25,25);
        font-family:Arial;
        color: white;
    }
    .paragraph{
        font-size:30px;
        font-weight:bold;
        
    }
    .move-icon{
        height:50px;
      
    }
    .img-button{
        background-color:  rgb(25,25,25);
        height:120px;
        width:120px;
        border:3px solid white;
        border-radius: 60px;
        margin-right: 12px;
        cursor:pointer;
    }
    .result{
        font-size: 30px;
        font-weight: bold;
        margin-top: 50px;
    }
    .score{
        margin-top:60px; 
    }
    .reset-button{
        background-color: white;
        border:none;
        font-size: 15px;
        padding : 10px 15px;
        cursor:pointer;
    }
